/* Main style for the front page */

:root {
  --bg-primary: white;
  --bg-highlight: white;

  --bg-secondary-red: #f82020;
  --bg-secondary-yellow: #f8f040;
  --bg-secondary-blue: #1010e0;
}

@font-face {
  font-family: "Goudy Bookletter 1911";
  src: url("../assets/fonts/GoudyBookletter1911-Regular.ttf");
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

html {
  background-image: url("../assets/bg_cave_paintings.png");
  background-size: 384px;

  font-family: sans-serif;
}

hr {
  border: none;
  border-top: 4px solid black;

  width: 100%;
}

h1 {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 40pt;

  margin-bottom: 16px;
  transform: rotate(-0.5deg);
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-primary);

  width: 1080px;
  height: 100vh;
}

mark {
  background-color: var(--bg-secondary-yellow);
}

.mark-red {
  background-color: var(--bg-secondary-red);
}

.mark-blue {
  background-color: var(--bg-secondary-blue);
}

.infobox {
  border-image: url("../assets/svgs/postcard_border.svg") 8 / 64px round;
  padding: 4px 8px;

  background-color: var(--bg-highlight);

  transform: rotate(-0.5deg);
  box-shadow: 24px 16px black;
}

#postcard-container {
  height: 512px;
}

#postcard-infobox {
  display: flex;
  flex-direction: row;

  width: 760px;
  padding-right: 64px;
}

#postcard-selfie {
  display: flex;
  flex-direction: column;

  border-radius: 4px;

  max-width: 225px;
}

#postcard-selfie img {
  max-width: 225px;
  max-height: 300px;
}

#postcard-selfie figcaption {
  background-color: var(--bg-secondary-yellow);

  font: italic 12pt serif;
  text-align: center;

  padding: 8px;
}

#postcard-data {
}
