/* Root styles for the website (I think this is bad practice!!!) */

:root {
  color-scheme: light dark;

  --bg-primary: light-dark(#fffff0, #2a282a);
  --bg-secondary: light-dark(#e8e8d8, #3a383a);
  --bg-highlight: light-dark(#b8b8a8, #5a585a);

  --bg-secondary-red: light-dark(#f82020, #e01040);
  --bg-secondary-yellow: light-dark(#f8f040, #ffca29);
  --bg-secondary-blue: light-dark(#2020e0, #20aaff);

  --font-primary: light-dark(black, #f0f4f8);
  --font-secondary: light-dark(#484848, #b0b4b8);
}

@font-face {
  font-family: "Goudy Bookletter 1911";
  font-display: swap;
  src: url("/assets/fonts/GoudyBookletter1911-Regular.ttf");
}

html,
body {
  background-color: var(--bg-primary);
  color: var(--font-primary);

  max-width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;

  margin: 0;
}

html {
  font-family: sans-serif;
}

.header-nav-list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  width: 100%;

  margin: 0;

  padding: 0;
  padding-bottom: 32px;
}

.header-nav-list li {
  display: inline-block;
  text-align: center;

  border-right: 2px solid var(--bg-primary);
}

.header-nav-list a {
  display: block;

  background-color: var(--bg-secondary);

  text-decoration: none;
  padding: 4px 8px;
}

.header-nav-list a:hover {
  background-color: var(--bg-highlight);
  color: var(--font-primary);

  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* See:
 *   https://mdn.io/Heading_Elements
 *     # Specifying a uniform font size for <h1>
 */
:where(h1) {
  margin-block: 0.67em;
  font-size: 2em;
}

#color-switcher {
  margin-bottom: 16px;

  width: 100%;

  font-size: 1.2em;
  text-align: end;

  background: none;
  border: none;
}

#color-switcher:hover {
  cursor: pointer;
}

#color-sun::after {
  content: "light";
  padding-left: 4px;

  color: var(--font-secondary);
  font-size: 0.8em;
}

#color-moon::before {
  content: "dark";
  padding-right: 4px;

  color: var(--font-secondary);
  font-size: 0.8em;
}
