/* Root styles for the website (I think this is bad practice!!!) */

:root {
  color-scheme: light dark;

  --bg-primary: light-dark(white, #181818);
  --bg-secondary: light-dark(#e8e8e8, #383838);
  --bg-highlight: light-dark(white, black);

  --bg-secondary-red: #f82020;
  --bg-secondary-yellow: #f8f040;
  --bg-secondary-blue: light-dark(#1010e0, #8080f8);

  --font-primary: light-dark(black, #d0d4d8);
  --font-secondary: light-dark(#484848, #b8b8b8);
  --font-disabled: #848484;
}

@font-face {
  font-family: "Goudy Bookletter 1911";
  src: url("/assets/fonts/GoudyBookletter1911-Regular.ttf");
}

html,
body {
  background-color: var(--bg-primary);

  max-width: 100%;
  min-height: 100vh;
}

body {
  margin: 16px 32px;
  font-size: 1.2em;
}

html {
  font-family: sans-serif;
}

h1 {
  margin-block: 0.67em;
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}
