/* Root styles for the website (I think this is bad practice!!!) */

:root {
  --bg-primary: white;
  --bg-secondary: #f8f8f8;
  --bg-highlight: white;

  --bg-secondary-red: #f82020;
  --bg-secondary-yellow: #f8f040;
  --bg-secondary-blue: #1010e0;

  --font-primary: black;
  --font-secondary: #484848;
  --font-disabled: #a8a8a8;
}

@font-face {
  font-family: "Goudy Bookletter 1911";
  src: url("/assets/fonts/GoudyBookletter1911-Regular.ttf");
}

html,
body {
  max-width: 100%;
  min-height: 100vh;
}

body {
  margin: 16px 32px;
  font-size: 1.2em;
}

html {
  font-family: sans-serif;
}

h1 {
  margin-block: 0.67em;
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}
