/* Main style for the front page! */

hr {
  border: none;
  border-top: 4px dotted var(--font-primary);

  margin: 16px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Goudy Bookletter 1911", serif;
  margin: 0;
}

h3,
h4,
h5,
h6 {
  text-decoration: underline dotted;
}

h1 {
  text-align: center;
}

h1::before {
  content: "– ";
}

h1::after {
  content: " –";
}

h2::before {
  content: "§ ";
  color: var(--font-secondary);
}

main {
  background-color: var(--bg-primary);
  width: 800px;
}

mark {
  background-color: var(--bg-secondary-yellow);
}

p {
  text-align: justify;
  float: none;
}

a {
  color: var(--font-secondary);
}

.mark-red {
  background-color: var(--bg-secondary-red);
}

.mark-blue {
  background-color: var(--bg-secondary-blue);
}

#wrapper {
  display: flex;
  justify-content: center;
}

figure {
  text-align: center;
}

figure figcaption {
  padding: 0 8px;
  color: var(--font-secondary);
}

figure.left {
  margin: 0 32px 16px 0;
  float: left;
}

figure.right {
  margin: 0 0 16px 32px;
  float: right;
}

dt {
  display: inline-block;
}

dd {
  display: inline;
  margin-left: 0;
}

dt::after {
  content: ": ";
}

.star-sticker {
  color: var(--font-secondary);
}
